<div class="mat-elevation-z8" style="margin-top: 20px;">

  <table mat-table [dataSource]="dataSource" class="mat-table">



    <ng-container matColumnDef="Actions">

      <th mat-header-cell *matHeaderCellDef> Actions </th>

      <td mat-cell *matCellDef="let element">
        <span class="circle"
          style=" border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 150px; width: 150px; ">
          <button style="border: none; border-radius: 50%; ">
            <img src="../../assets/images/drop.png" style="width: 15px; height: 15px; opacity: .4;" alt=""></button>
        </span> <button>
          <img src="../../assets/images/pencil (2).png" alt="">
        </button> <button><img src="../../assets/images/bin.png" alt=""></button> <button (click)="secondtable()"><img
            src="../../assets/images/plus.png" alt=""></button> {{ element.Actions }}
      </td>

    </ng-container>



    <ng-container matColumnDef="Code">

      <th mat-header-cell *matHeaderCellDef> Batch Code </th>

      <td mat-cell *matCellDef="let element"> <input type="text" *ngIf="var1" name="" id="" style="width: 120px;"
          placeholder="enter code" [(ngModel)]="batchcode"> <p *ngIf="var4" >{{batchcode}}</p> {{element.Code}}
        
      </td>


    </ng-container>



    <ng-container matColumnDef="CourseName">

      <th mat-header-cell *matHeaderCellDef> Batch Name </th>

      <td mat-cell *matCellDef="let element"> <input type="text" *ngIf="var2" name="course" id="" style="width: 120px;"
          placeholder="enter course name" [(ngModel)]="batchname"> <p *ngIf="var5">{{batchname}}</p> {{element.CourseName}} </td>

    </ng-container>

    <ng-container matColumnDef="BatchStart">

      <th mat-header-cell *matHeaderCellDef> Batch Start Name </th>

      <!-- <td mat-cell *matCellDef="let element"> <input type="text" name="BatchStart" id="" style="width: 120px;" placeholder="enter course name"  > {{element.BatchStart}} </td> -->
      <td mat-cell *matCellDef="let element"><mat-form-field  *ngIf="var3" appearance="fill">
       
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       <p *ngIf="var6">{{selectedDate}}</p>
      </td>
    </ng-container>
















    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <ng-container #container4></ng-container>
</div>