<div class="mat-elevation-z8" style="margin-top: 20px;">

    <table mat-table [dataSource]="dataSource" class="mat-table">
  
   
  
      <ng-container matColumnDef="Actions">
  
        <th mat-header-cell *matHeaderCellDef> Actions </th>
  
        <td mat-cell *matCellDef="let element"> 
            <span class="circle"  style=" border-radius: 50%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 150px; width: 150px; " > 
                <button style="border: none; border-radius: 50%; "  >
                    <img src="../../assets/images/drop.png"  style="width: 15px; height: 15px; opacity: .4;" alt=""></button> </span> <button style="border: none;" ><img src="../../assets/images/close (1).png"  style="width: 15px; height: 15px;" alt=""></button> {{ element.Actions }} </td>
  
      </ng-container>
  
   
  
      <ng-container matColumnDef="Code">
  
        <th mat-header-cell *matHeaderCellDef> Code </th>
  
        <td mat-cell *matCellDef="let element"> <input type="text" name="" id="" style="width: 120px;" placeholder="enter code" > {{element.Code}} </td>
  
      </ng-container>
  
   
  
      <ng-container matColumnDef="CourseName">
  
        <th mat-header-cell *matHeaderCellDef> Course Name </th>
  
        <td mat-cell *matCellDef="let element"> <input type="text" name="course" id="" style="width: 120px;" placeholder="enter course name"  > {{element.CourseName}} </td>
  
      </ng-container>
  
   
  
  
   
  
   
  
   
  
  
   
  

  
   
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
    </div>